/*line---------------------------------------*/
.mid-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#left-content,
#right-content {
    width: 500px;
    height: 1000px;
    background-color: lightblue;
    margin: 20px 0px;
    
}

.vertical-divider {
    width: 1px;
    height: 1040px;
    background-color: #eeecee;
    margin-bottom: 20px;
    margin: 0px 20px;
}

.mid-container a{
    color: rgb(0, 0, 0);
    align-items: center;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
}

#left-content{
    align-items: center; /* Center the content vertically */
}
